# dependencies
/node_modules
/*.d.ts
/*.js
*.pnp*
*lock.json

# testing
/coverage
*.test*

# production
/components
/out
/build
/dist

# misc
.DS_Store
*.pem

# debug
*.log*

# local env files
*.env*
